<div class="card-columns m-3">
    <div class="card" *ngFor="let pais of paises">
        <img src="{{pais.flag}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{pais.name}}</h5>
            <p class="card-text">Capital: {{pais.capital}}</p>
            <p class="card-text">Población: {{pais.population | number}}</p>
            <p class="card-text">Idioma: {{pais.population}}</p>
            Moneda(s):
            <ul class="list-group">
                <li *ngFor="let moneda of pais.currencies" class="list-group-item">{{moneda.symbol}} - {{moneda.name}}</li>
            </ul>
        </div>
    </div>
</div>